# AS dataset

In [2]:
import pickle

with open('data/AS_dataset.pkl', 'rb') as file:
    
    AS_df = pickle.load(file)

In [6]:
AS_df.shape

(60122, 5)

In [4]:
AS_df.head()

,ASN,Country,Name,NumIPs,type
0,AS55330,AF,AFGHANTELECOM GOVERNMENT COMMUNICATION NETWORK,"50,432",hosting
1,AS17411,AF,Io Global Services Pvt. Limited,"13,568",business
2,AS55424,AF,Instatelecom Limited,"13,312",business
3,AS38742,AF,AWCC,"11,520",isp
4,AS131284,AF,Etisalat Afghan,"10,240",isp

# Probe dataset

In [8]:
import pickle

with open('data/probe_dataset.pkl', 'rb') as file:
    
    AS_df = pickle.load(file)
    
    
AS_df.shape

AS_df.head()

  prb_id     ASN
0      1  AS3265
1      2  AS1136
2      3  AS3265
3      6  AS6830
4      8  AS3265

In [9]:
AS_df.shape

(11008, 2)

# RIPE dataset

In [24]:
# -*- coding: utf-8 -*-
# Course: SEN163A
# Assignment: 2
# Date: 26 mrt 2020
# Name: Jordy Sanchez
# Description: Load RIPE data
# The RIPE data is compressed in a bz2 file. You can open it directly in python
# to save storage space, but at the expense of additional computing power 
# (for on-the-fly decompression).
import time
import bz2
import os
import sys
import json

# OPTION 1: open decompressed file
#decompression of one file can take up to 5 minutes (7zip @ Intel i5 4210U)
decomFilename = 'data/ping-2022-02-28T2300'
decomFile     = open(decomFilename, 'rt') 

#read first line and print
firstLine = decomFile.readline();
print(firstLine)

#the line appears to be json-formatted: pretty print json
firstLineJson = json.loads(firstLine)
print(json.dumps(firstLineJson, sort_keys=True, indent=4))

#estimate total number of lines
firstLine_sizeInBytes   = sys.getsizeof(firstLine) 
decomFile_sizeInBytes   = os.stat(decomFilename).st_size
nrOfLines               = round(decomFile_sizeInBytes/firstLine_sizeInBytes)
print("\nEstimated nr of lines = " + str(nrOfLines))

#read first 100k lines to estimate total loading time
count = 0;
st    = time.time()
for line in decomFile:
    count = count + 1
    if count>100000: break
    
#print time and estimate total time            
dur         = round(time.time() - st,2)
estTotTime  = round( (dur/100000)*nrOfLines )
print("\nDecompressed file:" )
print("Loading 100k lines took: "  + str(dur) + " seconds")
print("Estimated loading time of entire decompression file: "  + \
      str(estTotTime) + " seconds" )

#finally close decomFile
decomFile.close()

{"fw":5020,"mver":"2.2.1","lts":-1,"dst_name":"192.203.230.10","af":4,"dst_addr":"192.203.230.10","src_addr":"172.17.0.2","proto":"ICMP","ttl":58,"size":32,"result":[{"rtt":12.917961},{"rtt":12.819589},{"rtt":12.84091}],"dup":0,"rcvd":3,"sent":3,"min":12.819589,"max":12.917961,"avg":12.8594866667,"msm_id":1013,"prb_id":1001660,"timestamp":1646090397,"msm_name":"Ping","from":"83.243.73.91","type":"ping","step":240}

{
    "af": 4,
    "avg": 12.8594866667,
    "dst_addr": "192.203.230.10",
    "dst_name": "192.203.230.10",
    "dup": 0,
    "from": "83.243.73.91",
    "fw": 5020,
    "lts": -1,
    "max": 12.917961,
    "min": 12.819589,
    "msm_id": 1013,
    "msm_name": "Ping",
    "mver": "2.2.1",
    "prb_id": 1001660,
    "proto": "ICMP",
    "rcvd": 3,
    "result": [
        {
            "rtt": 12.917961
        },
        {
            "rtt": 12.819589
        },
        {
            "rtt": 12.84091
        }
    ],
    "sent": 3,
    "size": 32,
    "src_addr": "172.17.0.2",
    "step": 240,
    "timestamp": 1646090397,
    "ttl": 58,
    "type": "ping"
}

Estimated nr of lines = 27143366

Decompressed file:
Loading 100k lines took: 0.18 seconds
Estimated loading time of entire decompression file: 49 seconds

**Result description**

Contains ping data from a lot of probes. This data is stored daily and divided into 24 files for 24 hours. The data loaded here is 1 hour, only one line is shown. Description of the fields is found here: https://web.archive.org/web/20200127090442/https://atlas.ripe.net/docs/data_struct/#v5000_ping

# IPv4 Data

In [12]:
import pandas

In [13]:
ipv4_df = pandas.read_csv("data/IP2LOCATION-LITE-DB1.CSV")

In [14]:
ipv4_df.shape

(212146, 4)

In [25]:
ipv4_df.head()

          0  16777215   -                       -.1
0  16777216  16777471  US  United States of America
1  16777472  16778239  CN                     China
2  16778240  16779263  AU                 Australia
3  16779264  16781311  CN                     China
4  16781312  16785407  JP                     Japan

**Result description**

Data shows which IP adresses roughly correspond to which country. The first two columns are IP4 adresses (From and to) in an integer format instead of the usual xxx.xxx.xxx.xxx format