# SEN163A - Fundamentals of Data Analytics
# Assignment 3 - Large-scale Internet Data Analysis
### Ir. Jacopo De Stefani - [J.deStefani@tudelft.nl](mailto:J.deStefani@tudelft.nl)
### Joao Pizani Flor, M.Sc. - [J.p.pizaniflor@tudelft.nl](mailto:J.p.pizaniflor@tudelft.nl)

### 25-03-2022
## Group 2
- Emmanuel M Boateng - '5617642'
- Joost Oortwijn - '4593472'
- Philip Busscher - ''4611993''
- Floris Kool - ''4975243''

# Introduction
short description of the assignment

# 1. Dataset description

Short description of the 4 datasets used

## 1.1 Opening the data

In [1]:
from bs4 import BeautifulSoup
import requests
from urllib.parse import urljoin
import pandas as pd
import time
import pickle
import datetime

In [4]:

#READING MAIN PAGE
#Get file
source_link = "https://jdestefani.github.io/SEN163A-TabularRazorArchives/"
response = requests.get(source_link)

#Read main file
main_page = BeautifulSoup(response.text)

for year_link in main_page.find_all('a', href=True):
    #READING YEAR PAGE & SAVING PKL FILE FOR EACH YEAR
    
    #Get file name of pkl file
    year_filename = year_link.get('href')
    year_filename = year_filename.removeprefix('./')
    year_filename = year_filename.removesuffix('.html')
    year_filename = "data/" + year_filename + ".pkl"
    
    #Clear lists of data for each year
    Data_Tuple = []
    
    #Get file  
    year_link = urljoin(source_link, year_link.get('href')) 
    response = requests.get(year_link)
    
    #Read year file
    year_page = BeautifulSoup(response.text)
     
    for month_link in year_page.find_all('a', href=True):
        #Get file
        month_link = urljoin(year_link, month_link.get('href'))
        response = requests.get(month_link)
        
        #Read month file
        month_page = BeautifulSoup(response.text)
        i = 0
        
        start  = time.time()
        
        for article_link in month_page.find_all('a', href=True):        
            #Get file
            article_link = urljoin(month_link, article_link.get('href')) 
            response = requests.get(article_link)
        
            #Read article file
            article_page = BeautifulSoup(response.text)
                       
            for div_element in article_page.find_all('div'):
                if div_element.get('class') == ['author']:
                    article_author = div_element.get_text()
                if div_element.get('class') == ['date']:
                    article_date = div_element.get_text()
                if div_element.get('class') == ['time']:
                    article_time = div_element.get_text()

            #Add data
            Data_Tuple.append((article_author, article_date, article_time))
            i += 1 
            #if i >= 10:
            #    break
        
        #Print after each month
        dur = round(time.time() - start,2)
        print('Read: ' + month_link)
        print('Added: ' + str(i) + ' articles')
        print('Duration: ' + str(dur) + ' seconds')
        
        #break

    #Save file after each year
    print()
    print("---")
    print("Saving: " + year_filename)
    df = pd.DataFrame(Data_Tuple)
    df.to_pickle(year_filename)
    print("Saved: " + str(len(df[0])) + " articles")
    print("---")
    print()
    
    #break

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-1.html
Added: 3464 articles
Duration: 491.2 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-2.html
Added: 2943 articles
Duration: 410.75 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-3.html
Added: 3223 articles
Duration: 452.49 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-4.html
Added: 3074 articles
Duration: 433.31 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-5.html
Added: 3276 articles
Duration: 463.0 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-6.html
Added: 3053 articles
Duration: 434.3 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-7.html
Added: 3270 articles
Duration: 474.14 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-8.html
Added: 3370 articles
Duration: 481.03 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-9.html
Added: 3119 articles
Duration: 438.96 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-10.html
Added: 3574 articles
Duration: 1092.74 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-11.html
Added: 3477 articles
Duration: 1183.22 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2012-12.html
Added: 3283 articles
Duration: 634.2 seconds

---
Saving: data/2012.pkl
Saved: 39126 articles
---

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-1.html
Added: 3062 articles
Duration: 441.43 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-2.html
Added: 2995 articles
Duration: 436.49 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-3.html
Added: 2918 articles
Duration: 420.93 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-4.html
Added: 3198 articles
Duration: 466.93 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-5.html
Added: 3151 articles
Duration: 453.46 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-6.html
Added: 2847 articles
Duration: 411.8 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-7.html
Added: 3213 articles
Duration: 467.73 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-8.html
Added: 3380 articles
Duration: 486.24 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-9.html
Added: 3239 articles
Duration: 466.23 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-10.html
Added: 3699 articles
Duration: 541.33 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-11.html
Added: 3315 articles
Duration: 476.87 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2013-12.html
Added: 3416 articles
Duration: 490.79 seconds

---
Saving: data/2013.pkl
Saved: 38433 articles
---

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-1.html
Added: 3167 articles
Duration: 457.14 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-2.html
Added: 3072 articles
Duration: 442.09 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-3.html
Added: 3219 articles
Duration: 466.16 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-4.html
Added: 3341 articles
Duration: 479.21 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-5.html
Added: 3594 articles
Duration: 517.2 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-6.html
Added: 3252 articles
Duration: 470.12 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-7.html
Added: 3629 articles
Duration: 526.5 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-8.html
Added: 3462 articles
Duration: 503.29 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-9.html
Added: 3796 articles
Duration: 645.39 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-10.html
Added: 3975 articles
Duration: 843.4 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-11.html
Added: 3509 articles
Duration: 523.62 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2014-12.html
Added: 3910 articles
Duration: 762.31 seconds

---
Saving: data/2014.pkl
Saved: 41926 articles
---

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-1.html
Added: 3300 articles
Duration: 488.97 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-2.html
Added: 3487 articles
Duration: 501.63 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-3.html
Added: 3438 articles
Duration: 495.03 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-4.html
Added: 3272 articles
Duration: 473.86 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-5.html
Added: 3489 articles
Duration: 502.19 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-6.html
Added: 3613 articles
Duration: 526.78 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-7.html
Added: 3865 articles
Duration: 556.82 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-8.html
Added: 3442 articles
Duration: 498.76 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-9.html
Added: 3962 articles
Duration: 574.54 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-10.html
Added: 3871 articles
Duration: 594.83 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-11.html
Added: 3864 articles
Duration: 561.3 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2015-12.html
Added: 4210 articles
Duration: 613.83 seconds

---
Saving: data/2015.pkl
Saved: 43813 articles
---

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-1.html
Added: 3174 articles
Duration: 463.22 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-2.html
Added: 3528 articles
Duration: 514.06 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-3.html
Added: 3913 articles
Duration: 568.03 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-4.html
Added: 3480 articles
Duration: 509.99 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-5.html
Added: 3877 articles
Duration: 561.36 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-6.html
Added: 4143 articles
Duration: 602.51 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-7.html
Added: 3991 articles
Duration: 582.68 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-8.html
Added: 4335 articles
Duration: 632.18 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-9.html
Added: 4304 articles
Duration: 630.54 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-10.html
Added: 3851 articles
Duration: 561.14 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-11.html
Added: 4335 articles
Duration: 630.04 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2016-12.html
Added: 4294 articles
Duration: 639.9 seconds

---
Saving: data/2016.pkl
Saved: 47225 articles
---

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-1.html
Added: 3237 articles
Duration: 469.7 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-2.html
Added: 3245 articles
Duration: 467.82 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-3.html
Added: 3565 articles
Duration: 514.24 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-4.html
Added: 2851 articles
Duration: 417.22 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-5.html
Added: 3530 articles
Duration: 512.58 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-6.html
Added: 3612 articles
Duration: 526.18 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-7.html
Added: 3383 articles
Duration: 492.12 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-8.html
Added: 3815 articles
Duration: 552.8 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-9.html
Added: 3640 articles
Duration: 526.81 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-10.html
Added: 3779 articles
Duration: 546.07 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-11.html
Added: 3661 articles
Duration: 530.86 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2017-12.html
Added: 3650 articles
Duration: 530.85 seconds

---
Saving: data/2017.pkl
Saved: 41968 articles
---

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-1.html
Added: 2814 articles
Duration: 408.5 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-2.html
Added: 2945 articles
Duration: 425.71 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-3.html
Added: 3013 articles
Duration: 436.76 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-4.html
Added: 2961 articles
Duration: 429.45 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-5.html
Added: 3295 articles
Duration: 474.74 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-6.html
Added: 3045 articles
Duration: 440.68 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-7.html
Added: 3182 articles
Duration: 457.94 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-8.html
Added: 3433 articles
Duration: 495.84 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-9.html
Added: 2869 articles
Duration: 412.43 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-10.html
Added: 3534 articles
Duration: 510.01 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-11.html
Added: 3463 articles
Duration: 496.25 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2018-12.html
Added: 3389 articles
Duration: 487.78 seconds

---
Saving: data/2018.pkl
Saved: 37943 articles
---

Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-1.html
Added: 3091 articles
Duration: 442.82 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-2.html
Added: 3075 articles
Duration: 444.67 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-3.html
Added: 2886 articles
Duration: 414.71 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-4.html
Added: 2989 articles
Duration: 429.85 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-5.html
Added: 3419 articles
Duration: 489.99 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-6.html
Added: 2846 articles
Duration: 408.91 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-7.html
Added: 3340 articles
Duration: 477.66 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-8.html
Added: 3256 articles
Duration: 470.52 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-9.html
Added: 3266 articles
Duration: 466.77 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-10.html
Added: 3401 articles
Duration: 487.08 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-11.html
Added: 3034 articles
Duration: 435.79 seconds
Read: https://jdestefani.github.io/SEN163A-TabularRazorArchives/2019-12.html
Added: 3323 articles
Duration: 477.8 seconds

---
Saving: data/2019.pkl
Saved: 37926 articles
---

More detailed description of data if needed (Can also be after opening each dataset)

## 1.2 Limitations in data

Evaluate if there are limitations in the provided datasets (AS and probe data set). If you find limitations, describe these and conjecture possible reasons, supported with data.

...

Some list of limitations in text

# 2 Analysis

Short description of what is going to be analyzed

## 2.1 Couple among employees (Question a)

Are there couples among the employees. If so, who? Are they still together?

In [2]:
import pickle
data = pickle.load(open("data/2012.pkl", "rb"))
data.head()

               0           1      2
0    Jaye Shimek  2012-01-01  15:17
1  Leandro Marse  2012-01-01  10:52
2   Annie Lapham  2012-01-02  14:36
3   Annie Lapham  2012-01-02  15:38
4   Annie Lapham  2012-01-02  09:47

In [3]:
data["datetime"] = data.iloc[:, 1] +" " +data.iloc[:, 2]

    #format to date time 
data['datetime'] = pd.to_datetime(data['datetime'],format= '%Y-%m-%d %H:%M') 
data = data.drop(data.columns[[1, 2]], axis=1)
data.columns = ['name', 'datetime']

#floor to hours
#data['datetime'] = data['datetime'].dt.floor('h')

#create multiple features to enhance analysis for Machine Learning
#data['year'] = data['datetime'].dt.year
#data['month'] = data['datetime'].dt.month
#data['day'] = data['datetime'].dt.day
#data['hour'] = data['datetime'].dt.hour
data['time'] = data['datetime'].dt.time


print(data.dtypes)
data.head()
employees = data['name'].unique().tolist()

name                object
datetime    datetime64[ns]
time                object
dtype: object

In [4]:
# group the names based on the dates and time published
df = data.set_index('datetime').groupby([pd.Grouper(freq='H'), 'name']).count()
df.rename(columns = {'time':'n'}, inplace = True)
df = df.reset_index()  # make sure indexes pair with number of rows
df

                 datetime               name  n
0     2012-01-01 10:00:00      Leandro Marse  1
1     2012-01-01 15:00:00        Jaye Shimek  1
2     2012-01-02 09:00:00       Andreas Jost  1
3     2012-01-02 09:00:00      Anisha Mathes  1
4     2012-01-02 09:00:00       Annie Lapham  1
...                   ...                ... ..
30812 2012-12-31 17:00:00      Leatrice Heer  1
30813 2012-12-31 17:00:00      Lester Preiss  1
30814 2012-12-31 17:00:00  Milagros Salmeron  1
30815 2012-12-31 17:00:00   Paulene Calcagni  1
30816 2012-12-31 17:00:00         Vance Ates  2

[30817 rows x 3 columns]

In [5]:
publication_tsp = data['datetime'].unique()

In [7]:
# iterate to get equal publication times
l= []
for timestamp in publication_tsp:
    df_f =  df.loc[df['datetime']==timestamp]
    if df_f.shape[0] !=0:
        l.append(df_f.groupby('n')['name'].apply(list).reset_index(name='lst'))

In [68]:
print(len(l))

2088

In [8]:
from collections import Counter
from itertools import combinations

new_list = []
# create a new list of list 
for entry in l:
    lst  = entry['lst'].values.tolist()
    for items in lst:
        new_list.append(items)

# count likelihood of being a copule based on how often they occure together
d  = Counter()
for sub in new_list:
    if len(new_list) < 2:
        continue
    sub.sort()
    for comb in combinations(sub,2):
        d[comb] += 1
#create a dataframe
couples_df = pd.DataFrame(d.most_common(), columns = ['likely_couple', 'occurences'])

In [55]:
couples_df.head()

                        likely_couple  occurences
0        (Donte Berkeley, Vance Ates)          89
1     (Donte Berkeley, Julieta Knapp)          89
2       (Donte Berkeley, Jaye Shimek)          88
3  (Donte Berkeley, Harmony Mcmurtry)          85
4      (Andreas Jost, Donte Berkeley)          82

In [ ]:
# visualize data
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(12, 4))
ax.plot(vis_data['date'],vis_data['counts'])

....

In [39]:
dates = pd.date_range(start='2012-1-1', end='2012-12-31')

#extend dataframe by dates
data['date'] = pd.to_datetime(data['datetime'].dt.date)
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day
data

#find max time employees don't post anything
for names in employees:
    df_f =  data.loc[data['name']==names]
    print(names, df_f['date'].diff().max())

Jaye Shimek 13 days 00:00:00
Leandro Marse 12 days 00:00:00
Annie Lapham 10 days 00:00:00
Harmony Mcmurtry 17 days 00:00:00
Zofia Roll 11 days 00:00:00
Tasia Dube 14 days 00:00:00
Lorrine Paek 18 days 00:00:00
Veronique Blakemore 17 days 00:00:00
Randall Feather 14 days 00:00:00
Michale Tuch 10 days 00:00:00
Jarvis Pratts 13 days 00:00:00
Vance Ates 11 days 00:00:00
Donte Berkeley 9 days 00:00:00
Tora Echevarria 17 days 00:00:00
Hassan Toner 20 days 00:00:00
Kyle Ryals 12 days 00:00:00
Vonk Billips 17 days 00:00:00
Julieta Knapp 17 days 00:00:00
Stephine Gatlin 10 days 00:00:00
Bebe Riva 10 days 00:00:00
Marthe Hale 19 days 00:00:00
Paulene Calcagni 12 days 00:00:00
Milagros Salmeron 13 days 00:00:00
Anisha Mathes 14 days 00:00:00
Layne Woodside 13 days 00:00:00
Lisette Tolleson 12 days 00:00:00
Andreas Jost 14 days 00:00:00
Jeannie Liang 14 days 00:00:00
Hwa Defalco 13 days 00:00:00
Aurea Durrance 11 days 00:00:00
Sal Papa 14 days 00:00:00
Narcisa Core 13 days 00:00:00
Bridgette Marko 14 days 00:00:00
Leatrice Heer 14 days 00:00:00
Remedios Fincham 8 days 00:00:00
Lavonna Sim 12 days 00:00:00
Lester Preiss 8 days 00:00:00

Jaye Shimek 13 days 00:00:00
Leandro Marse 12 days 00:00:00
Annie Lapham 10 days 00:00:00
Harmony Mcmurtry 17 days 00:00:00
Zofia Roll 11 days 00:00:00
Tasia Dube 14 days 00:00:00
Lorrine Paek 18 days 00:00:00
Veronique Blakemore 17 days 00:00:00
Randall Feather 14 days 00:00:00
Michale Tuch 10 days 00:00:00
Jarvis Pratts 13 days 00:00:00
Vance Ates 11 days 00:00:00
Donte Berkeley 9 days 00:00:00
Tora Echevarria 17 days 00:00:00
Hassan Toner 20 days 00:00:00
Kyle Ryals 12 days 00:00:00
Vonk Billips 17 days 00:00:00
Julieta Knapp 17 days 00:00:00
Stephine Gatlin 10 days 00:00:00
Bebe Riva 10 days 00:00:00
Marthe Hale 19 days 00:00:00
Paulene Calcagni 12 days 00:00:00
Milagros Salmeron 13 days 00:00:00
Anisha Mathes 14 days 00:00:00
Layne Woodside 13 days 00:00:00
Lisette Tolleson 12 days 00:00:00
Andreas Jost 14 days 00:00:00
Jeannie Liang 14 days 00:00:00
Hwa Defalco 13 days 00:00:00
Aurea Durrance 11 days 00:00:00
Sal Papa 14 days 00:00:00
Narcisa Core 13 days 00:00:00
Bridgette Marko 14 days 00:00:00
Leatrice Heer 14 days 00:00:00
Remedios Fincham 8 days 00:00:00
Lavonna Sim 12 days 00:00:00
Lester Preiss 8 days 00:00:00

In [ ]:
ser = pd.to_datetime(pd.Series(["2012-03-01", pd.NaT]))  
ser.dt.isocalendar()

In [41]:
# Combining all data together for analysis creating a relative file name 
pkl_Filenames = pd.date_range('2012-01-01', periods=8, freq='Y').strftime('data/%Y.pkl').tolist()
pkl_Filenames

['data/2012.pkl',
 'data/2013.pkl',
 'data/2014.pkl',
 'data/2015.pkl',
 'data/2016.pkl',
 'data/2017.pkl',
 'data/2018.pkl',
 'data/2019.pkl']

In [42]:
final_df = []
for data in pkl_Filenames:
    print(data)
    with open(data, 'rb') as f:
        if len(final_df) == 0:
            final_df = pickle.load(f)
        else:
            final_df = final_df.append(pickle.load(f))  # Update contents of file1
        #print(final_df.iloc[-1])
        f.close()

final_df.columns =['name', 'date', 'time'] # name the columns
final_df['date'] = pd.to_datetime(final_df['date'],format= '%Y-%m-%d') 
final_df['time'] = pd.to_datetime(final_df['time'],format= '%H:%M' ).dt.time

Filename = 'data/2012_2019.pkl' 
with open(Filename, 'wb') as handle:
    pickle.dump(final_df, handle, protocol=pickle.HIGHEST_PROTOCOL)

merged = pickle.load(open(Filename, "rb"))

data/2012.pkl
data/2013.pkl
data/2014.pkl
data/2015.pkl
data/2016.pkl
data/2017.pkl
data/2018.pkl
data/2019.pkl

/var/folders/qd/wtyzdplx1712rf3p12f4blkm0000gn/T/ipykernel_58645/2869434471.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(pickle.load(f))  # Update contents of file1
/var/folders/qd/wtyzdplx1712rf3p12f4blkm0000gn/T/ipykernel_58645/2869434471.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(pickle.load(f))  # Update contents of file1
/var/folders/qd/wtyzdplx1712rf3p12f4blkm0000gn/T/ipykernel_58645/2869434471.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(pickle.load(f))  # Update contents of file1
/var/folders/qd/wtyzdplx1712rf3p12f4blkm0000gn/T/ipykernel_58645/2869434471.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(pickle.load(f))  # Update contents of file1
/var/folders/qd/wtyzdplx1712rf3p12f4blkm0000gn/T/ipykernel_58645/2869434471.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(pickle.load(f))  # Update contents of file1
/var/folders/qd/wtyzdplx1712rf3p12f4blkm0000gn/T/ipykernel_58645/2869434471.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(pickle.load(f))  # Update contents of file1

In [43]:
merged.head()

            name       date      time
0    Jaye Shimek 2012-01-01  15:17:00
1  Leandro Marse 2012-01-01  10:52:00
2   Annie Lapham 2012-01-02  14:36:00
3   Annie Lapham 2012-01-02  15:38:00
4   Annie Lapham 2012-01-02  09:47:00

### 2.1.1 Check month of interest

Description of results

## 2.2 Children (Question b)
Did any of the employees have a child? If so, who?

In [2]:
#Code for question b

Description of results

## 2.3 Holidays (Question c)
If you would be looking to work for Tabularazor Inc., how many holidays can you expect to get per
year?

In [ ]:
#Code for question c

Description of results

# 3 Conclusion

Add code if needed