# SEN163A - Fundamentals of Data Analytics
# Assignment 1 - Data consistency
### Ir. Jacopo De Stefani - [J.deStefani@tudelft.nl](mailto:J.deStefani@tudelft.nl)
### Joao Pizani Flor, M.Sc. - [J.p.pizaniflor@tudelft.nl](mailto:J.p.pizaniflor@tudelft.nl)

## Group X
- Student 1 - ''Student ID1''
- Student 2 - ''Student ID2''
- Student 3 - ''Student ID3''
- Student 4 - ''Student ID4''

## Evaluation criteria
The final grade for this assignment will be calculated based on the following criteria:

- $\textbf{Quality of the report}$ - 35\%
    - Reasonable formatting of the document and used citation appropriately
    - Use of proper English (typos, grammar)
    - Code script deliverable
    - Code quality
    - Problem Description
    - Dataset Description
    - Limitations
    - Conclusion/Action recommendations

- $\textbf{Identification of the problems in the database}$ - 65\%

# Introduction

### Example text cell with formula

Bullet list:

- Item 1
- Item 2

Numbered list:

1. Item 1
2. Item 2

#### Example of simple equation
\begin{equation}
e = mc^2
\end{equation}

#### Example of matrix equation - Cross product formula:

\begin{equation*}
\mathbf{V}_1 \times \mathbf{V}_2 =  \begin{vmatrix}
\mathbf{i} & \mathbf{j} & \mathbf{k} \\
\frac{\partial X}{\partial u} &  \frac{\partial Y}{\partial u} & 0 \\
\frac{\partial X}{\partial v} &  \frac{\partial Y}{\partial v} & 0
\end{vmatrix}
\end{equation*}

#### Example of multiline equation - The Lorenz Equations:

\begin{align}
\dot{x} & = \sigma(y-x) \\
\dot{y} & = \rho x - y - xz \\
\dot{z} & = -\beta z + xy
\end{align}

#### Example of Markdown Table:

| This | is   |
|------|------|
|   a  | table|

# Dataset Description

In [5]:
### Read and load the database

import pandas as pd
import matplotlib as plt
import sqlite3 as sq3

dbfile = 'transaction_data.db' # path to the file 

conn = sq3.connect(dbfile)  # Create a SQL connection to our SQLite database
curs = conn.cursor()

#Check the tables in the database
table_lst = [a for a in curs.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()]
print(table_lst) # here is you table list

#get the table info 
for row in curs.execute('PRAGMA table_info(transaction_data)'):    
    print(row)

#read the SQL data and print the first five lines
df = pd.read_sql_query("SELECT * FROM transaction_data", conn) 
print(df.head())

[('transaction_data',)]
(0, 'id', 'integer', 0, None, 1)
(1, 'timestamp', 'integer', 1, None, 0)
(2, 'type', 'text', 1, None, 0)
(3, 'amount', 'text', 1, None, 0)
(4, 'nameOrig', 'text', 1, None, 0)
(5, 'oldbalanceOrig', 'text', 1, None, 0)
(6, 'newbalanceOrig', 'text', 1, None, 0)
(7, 'nameDest', 'text', 1, None, 0)
(8, 'oldbalanceDest', 'text', 1, None, 0)
(9, 'newbalanceDest', 'text', 1, None, 0)
   id  timestamp      type    amount     nameOrig oldbalanceOrig  \
0   1          1  TRANSFER      0.01  C1231006815       170136.0
1   2          1  TRANSFER  9839.640  C1231006815     170136.000
2   3          1  TRANSFER  1864.280  C1666544295      21249.000
3   4          1  TRANSFER   181.000  C1305486145        181.000
4   5          1  TRANSFER   181.000   C840083671        181.000

  newbalanceOrig     nameDest oldbalanceDest newbalanceDest
0     170135.990    C52983754          0.010          0.020
1     160296.360  M1979787155          0.000       9839.630
2      19384.720  M2044282225          0.000       1864.280
3          0.000   C553264065          0.000        181.000
4          0.000    C38997010      21182.000      21363.000

In [6]:
# Get the data description

data_shape = df.shape
print('\nDataFrame Shape :', data_shape)
print('\nNumber of rows :', data_shape[0])
print('\nNumber of columns :', data_shape[1])

df_MinMax = df[['amount','timestamp', 'newbalanceOrig', 'newbalanceDest']].agg(['min','max'])
print (df_MinMax)

DataFrame Shape : (7734834, 10)

Number of rows : 7734834

Number of columns : 10
        amount  timestamp newbalanceOrig newbalanceDest
min      0.000          1         -0.005         -0.005
max  99999.810        743    9999999.995    9999999.995

# Dataset Consistency

In [ ]:
### Your code goes here

# Fraud Identification

In [ ]:
### Your code goes here

# Conclusion